* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: auto;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#0bcbfb,#8ffca0) no-repeat;
}
.text {
    width: 1500px;
    margin: 0 auto;
    font-size: 15px;
}
footer {
    background-color: #3a3a3a;
    height: 70px;
    width: 1920px;
}
.mail {
    font-family: 'Roboto', sans-serif;
    color:#fff;
}
.foot {
    padding-top: 20px;
    margin: 0 auto;
    width: 500px;
    justify-content: center;
    text-align: center;
    display: flex;
}
.main_text {
    margin-top: 15px;
}
h3{
    font-size: 20px;
    margin-top: 10px;
}
.block {
    text-align: left;
    margin-top: 5px;
}
.once {
    margin-top: 5px;
    font-size: 25px;
}
.kartina {
    float: left;
    margin-right: 20px;
}
.main_text li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
hr {
    border: none;
    background-color: #3a3a3a;
    height: 2px;
}